---
const {source} = Astro.props;
const data = await source.getHeader();
const content = data.data;

import { Image } from 'astro:assets';
import formalPhoto from './assets/img/photo-formal.jpg';

const subSections = content.subSections.filter(section => !section.hide);
---
<style type="text/css">
    header {
        display: grid;
        grid-template-columns: 90px 1fr;

        .photo {
            align-self: center;
        }
        .top-header {
            text-align: center;

            & h1 {
                font-size: 2rem;
            }
            & div {
                font-size: .8rem;

                &.role {
                        font-size: .75rem;
                        font-weight: 700;
                }
            }
        }
    }

    header.with-photo {
        grid-template-columns: 90px 1fr;

        @media screen and (max-width: 874px) {
            grid-template-columns: 1fr;

            .photo {
                display: flex;
                justify-content: center;
                padding-bottom: 1rem;
            }
        }
    }

    header.without-photo {
        grid-template-columns: 1fr;
    }

    .bottom-header {
        font-size: .7rem;
        padding: 2rem 0 0 1.7rem;
        display: flex;
        justify-content: center;

        > .top-grid {
            display: grid;
            grid-template-columns: repeat(2, 16rem);
            row-gap: .5rem;
            width: clamp(100px, 580px, 100%);
            justify-content: space-between;

            > .row {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
            > .row.left {
                grid-template-columns: 7.4rem auto;
            }
            > .row.right {
                grid-template-columns: 4rem 1fr;
            }
        }
    }
    @media (max-width: 450px) {
        header .top-header h1 {
            font-size: 1.5rem;
        }
    }
    @media screen {
        .print-only {
            display: none;
        }
    }
    @media screen and (max-width: 771px) {
        a {
            overflow-wrap: anywhere;
        }
        .bottom-header > .top-grid {
            grid-template-columns: 1fr;

            > .top-grid > :is(.row.left, .row.right) {
                grid-template-columns: 7.4rem 1fr;
                justify-content: start;
            }
        }
    }
    @media print {
        .screen-only {
            display: none;
        }
        a {
            text-decoration: underline;
        }
        .bottom-header {
            display: flex;
            justify-content: center;

            > .top-grid {
                width: 350px;
            }
        }
    }
</style>

<header class={content.hidePhoto ? 'without-photo' : 'with-photo'}>
    { !content.hidePhoto && (
        <div class="photo">
            <Image loading="eager" src={formalPhoto} alt="Jair López" width="77" height="103"/>
        </div>
    ) }
    <div>
        <div class="top-header">
            <h1>{content.fullName}</h1>
            <strong>
                {content.jobTitle}
            </strong>
            <div>
                {content.address}
            </div>
        </div>
        { subSections && (
            <div class="bottom-header">
                <div class="top-grid">
                    {subSections.map((section, index) => {
                        const placeClass = index % 2 === 0 ? 'left' : 'right';

                        return (
                            <div class={`row ${placeClass}`}>
                                <div>
                                    <strong>{section.label}:</strong>
                                </div>
                                <div>
                                {
                                    (function () {
                                        switch (section.type) {
                                            case 'text':
                                                return section.content;
                                            case 'link':
                                                return (
                                                    <a href={section.content.link} target="_blank">{section.content.text}</a>
                                                )
                                        }
                                    })()
                                }
                                </div>
                            </div>
                        )
                    })}
                </div>
            </div>
        )}
    </div>
</header>
