---
import { useTranslations } from '../../../lib/i18n/utils.js';
import BaseHead from "../../../components/BaseHead.astro";

const {
    title = "",
    htmlLang = "en",
} = Astro.props;

const t = await useTranslations(htmlLang);
---
<!DOCTYPE html>
<html lang={htmlLang} data-theme="none">
    <head>
        <BaseHead title={title} description={t('main.site-description')} />
        <style type="text/css">
            /* Overide daisyUI background styles enabled by `base: true` setting.
             * SOURCE: https://daisyui.com/docs/config/#base
             */
            :root {
                background-color: hsl(0, 0%, 91.8%);
                color: black;
            }

            @page {
                size: 8.5in 11in;
                margin: 1in;
            }

            .wrapper {
                background-color: white;
                border: 1px solid lightgray;
                padding: 6rem;
                box-shadow: 0px 0px 5px lightgray;
            }

            @media screen {
                body {
                    background-color: hsl(0, 0%, 91.8%);
                    margin: 5rem auto;
                    box-shadow: 0px 0px 5px hsl(0, 0%, 82.7%);

                    @media (min-width: 1081px) {
                        max-width: 1024px;
                    }
                    @media  (max-width: 1080px) {
                        max-width: 94.3%;
                    }
                }
            }
            @media screen and (max-width: 771px) {
                .wrapper {
                    padding: 3rem;
                }
            }
            @media (max-width: 450px) {
                .wrapper {
                    padding: 2rem 1rem;
                }
            }
            @media print {
                html {
                    font-size: 10px;
                }
                .wrapper {
                    border: none;
                    padding: 0;
                    box-shadow: none;
                }
            }
        </style>
    </head>
    <body lang="en-US">
        { import.meta.env.DEV  && (
        <script type="module">
            let timeoutId;

            // Hack for hiding the dev toolbar in print layout.
            timeoutId = setInterval(() => {
                const component = document.querySelector('astro-dev-toolbar');

                if (component !== null) {
                    const sheet = new CSSStyleSheet();
                    sheet.replaceSync("@media print { #dev-toolbar-root { display: none; } }");

                    component.shadowRoot.adoptedStyleSheets = [sheet];
                    clearInterval(timeoutId);
                }
            }, 300);
        </script>
        )}
        <div class="wrapper">
            <main>
                <slot \>
            </main>
        </div>
    </body>
</html>
