---
import {getHeadings, Source } from '../../../getResumeData';
import { useTranslations } from '../../../lib/i18n/utils.js';

const {htmlLang} = Astro.props;

import FormalStyle from './index.astro';
import Summary from './summary.astro';
import Skills from './skills.astro';
import Readings from './readings.astro';
import Projects from './projects.astro';
import Educations from './educations.astro';
import Experiences from './experiences.astro';
import Header from './header.astro';

const source = new Source(htmlLang, 'resume');
const t = await useTranslations(htmlLang);
---
<FormalStyle htmlLang={htmlLang} title={t('resume.web-title')}>
    <Header source={source} />
    <Summary source={source} />
    <Skills source={source} />
    <Experiences source={source} />
    <Educations source={source} />
    <Projects source={source} />
    <Readings source={source} />
</FormalStyle>

