---
const {link = '', webLabel = '', printableLabel = '', ending = ''} = Astro.props;
---
<span class="screen-only">
    <a href={link} target="_blank">{webLabel}</a>{ending}
</span>
<span class="print-only">
    {printableLabel}
    <a href={link} target="_blank">{link}</a>{ending}
</span>
