---
import { render } from 'astro:content';
import { useTranslations } from '../../../lib/i18n/utils.js';

const { source } = Astro.props;

const t = await useTranslations(source.htmlLang);
let content = await source.getProjects();
---
<style type="text/css">

    /* NOTE: `:global(...)` avoids scoping rules so that they also apply to
    * markdown-generated content
    * */
    :global(a) {
        color: #26667b;

        &:hover {
            text-decoration: underline;
        }
    }

    section {
        --p-margin-left: 2rem;
        --text-margin-bottom: .4rem;

        line-height: 160%;
        margin-top: 3rem;
        font-size: .9rem;

        & :global(h2) {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 2rem;
        }
        & :global(ul) {
            margin-left: calc(var(--p-margin-left) + 1rem);
            margin-bottom: var(--text-margin-bottom);
            list-style: disc;
        }
        & :global(ul) > :global(li) {
            padding-left: 1rem;
            margin-bottom: var(--text-margin-bottom);
        }
        & :global(dl) > :global(div) > * {
            display: inline;
        }
    }


    /* Astro apparently has partial support for CSS nesting. Avoid it here */
    section.experience > :global(ul) > :global(li) {
        padding: 0;
        margin-top: 2rem;
    }

    section.experience > :global(ul) {
        margin-left: 2rem;
        list-style: none;
    }

    section.experience > :global(ul) > :global(li:first-child) {
        margin-top: 0;
    }
    section.experience > :global(ul)  :global(ul) {
        margin-left: 4rem;
    }

    @media (max-width: 450px) {
        section {
            & p {
                margin-left: 1rem;
            }
            & h2 {
                font-size: 1.25rem;
            }
            & ul {
                margin-left: 2rem;
            }

            &.experience {
                > ul {
                    margin-left: 1rem;
                }
                > ul ul {
                    margin-left: 2rem;
                }
            }
        }
    }

    @media screen {
        :global(.print-only) {
            display: none;
        }
    }
    @media screen and (max-width: 771px) {
        :global(a) {
            overflow-wrap: anywhere;
        }
    }

    @media print {
        :global(.screen-only) {
            display: none;
        }
        :global(a) {
            text-decoration: underline;
        }

        /* CSS rules for avoiding page break immediately after a heading */
        /* Source: https://stackoverflow.com/a/53742871/1121933 */
        :global(h2) {
            page-break-inside: avoid;
        }
        :global(h2)::after {
            content: "";
            display: block;
            height: 100px;
            margin-bottom: -100px;
        }
    }
</style>
{ content.length > 0 && (

    <section class="experience">
        <h2>{t('resume.projects')}</h2>

        <ul> {/* SOURCE: https://stackoverflow.com/questions/78627256/how-to-render-multiple-content-entries-from-getcollection-in-astro */}
            {content.map(async item => {
                const { Content } = await render(item);

                return (
                    <li>
                        <strong>{item.data.title}:</strong>
                        <Content />
                    </li>
                );
            })}
        </ul>
    </section>
)}
