---
import { useTranslations } from '../../../lib/i18n/utils.js';

const {source} = Astro.props;
const data = await source.getReadings();

const readings = data.data.readings ?? false;
const hide = data.data.hide
const t = await useTranslations(source.htmlLang);

function printAuthors(author) {
    return author + (source.htmlLang === 'es' && !(/\.$/.test(author))
        ? '.'
        : ''
    );
}

---
<style type="text/css">

    /* NOTE: `:global(...)` avoids scoping rules so that they also apply to
    * markdown-generated content
    * */
    a {
        color: #26667b;

        &:hover {
            text-decoration: underline;
        }
    }

    section {
        --p-margin-left: 2rem;
        --text-margin-bottom: .4rem;

        line-height: 160%;
        margin-top: 3rem;
        font-size: .9rem;

        & h2 {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 2rem;
        }

        & p {
            margin-left: var(--p-margin-left);
            margin-bottom: var(--text-margin-bottom);
        }
        & ul {
            margin-left: calc(var(--p-margin-left) + 1rem);
            margin-bottom: var(--text-margin-bottom);
            list-style: disc;
        }
        & ul > li {
            padding-left: 1rem;
            margin-bottom: var(--text-margin-bottom);
        }
        & dl > div > * {
            display: inline;
        }
    }

    @media screen {
        .print-only {
            display: none;
        }
    }

    @media (max-width: 450px) {
        section {
            & p {
                margin-left: 1rem;
            }
            & h2 {
                font-size: 1.25rem;
            }
            & ul {
                margin-left: 2rem;
            }

            &.experience {
                > ul {
                    margin-left: 1rem;
                }
                > ul ul {
                    margin-left: 2rem;
                }
            }
        }
    }
    @media print {
        .screen-only {
            display: none;
        }
        a {
            text-decoration: underline;
        }

        /* CSS rules for avoiding page break immediately after a heading */
        /* Source: https://stackoverflow.com/a/53742871/1121933 */
        h2 {
            page-break-inside: avoid;
        }
        h2::after {
            content: "";
            display: block;
            height: 100px;
            margin-bottom: -100px;
        }
    }
</style>
{ readings && !hide && (

    <section>
        <h2>{t('resume.readings')}</h2>

        <ul>
            {readings.map(item => (
                <li>
                    <strong>
                        {item.link ? <a href={item.link} target="_blank">{item.name}</a> : item.name }
                    </strong> — {printAuthors(item.author)}
                </li>
            ))}
        </ul>
    </section>
)}

