---
import { useTranslations } from '../../../lib/i18n/utils.js';

const { source, htmlLang } = Astro.props;
const data = await source.getSkills();

const t = await useTranslations(source.htmlLang);
let skills = data.data.skills ?? false;

if (skills) {
    skills = skills.filter((category) => category.items.length > 0);
}

function printCategoryItems(items) {
    return items.map((item) => {
        let result = item.label;

        if (item.level) {
            result += ` (${item.level})`;
        }

        return result;
    }).join(", ").concat(source.htmlLang === 'es' ? '.' : '');
}

---
<style type="text/css">

    /* NOTE: `:global(...)` avoids scoping rules so that they also apply to
    * markdown-generated content
    * */

    section {
        --p-margin-left: 2rem;
        --text-margin-bottom: .4rem;

        line-height: 160%;
        margin-top: 3rem;
        font-size: .9rem;

        & h2 {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 2rem;
        }

        & ul {
            margin-left: calc(var(--p-margin-left) + 1rem);
            margin-bottom: var(--text-margin-bottom);
            list-style: disc;
        }
        & ul > li {
            padding-left: 1rem;
            margin-bottom: var(--text-margin-bottom);
        }
        & dl > div > * {
            display: inline;
        }
    }

    @media screen {
        .print-only {
            display: none;
        }
    }

    @media (max-width: 450px) {
        section {
            & p {
                margin-left: 1rem;
            }
            & h2 {
                font-size: 1.25rem;
            }
            & ul {
                margin-left: 2rem;
            }

            &.experience {
                > ul {
                    margin-left: 1rem;
                }
                > ul ul {
                    margin-left: 2rem;
                }
            }
        }
    }
    @media print {
        .screen-only {
            display: none;
        }
        a {
            text-decoration: underline;
        }

        /* CSS rules for avoiding page break immediately after a heading */
        /* Source: https://stackoverflow.com/a/53742871/1121933 */
        h2 {
            page-break-inside: avoid;
        }
        h2::after {
            content: "";
            display: block;
            height: 100px;
            margin-bottom: -100px;
        }
    }
</style>

{ skills && (
    <section class="skills">
        <h2>{t('resume.skills')}</h2>

        <ul>
            {skills.map(category => (
                <li>
                    <strong>{category.label}: </strong>
                    {printCategoryItems(category.items)}
                </li>
            ))}
        </ul>
    </section>
)}

