---
import { useTranslations } from '../../../lib/i18n/utils.js';
import { render } from 'astro:content';

const { source } = Astro.props;


const data = await source.getSummary();
const t = await useTranslations(source.htmlLang);
const {Content} = await render(data);
---
<style type="text/css">

    /* NOTE: `:global(...)` avoids scoping rules so that they also apply to
     * markdown-generated content
     * */

    section {
        --p-margin-left: 2rem;
        --text-margin-bottom: .4rem;

        line-height: 160%;
        margin-top: 3rem;
        font-size: .9rem;

        & :global(h2) {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 2rem;
        }

        & :global(p) {
            margin-left: 2rem;
            margin-bottom: .4rem;
        }
        & :global(ul) {
            margin-left: calc(var(--p-margin-left) + 1rem);
            margin-bottom: var(--text-margin-bottom);
            list-style: disc;
        }
        & :global(ul) > li {
            padding-left: 1rem;
            margin-bottom: var(--text-margin-bottom);
        }
        & :global(dl) > div > * {
            display: inline;
        }
    }

    @media (max-width: 450px) {
        section {
            & :global(p) {
                margin-left: 1rem;
            }
            & :global(h2) {
                font-size: 1.25rem;
            }
        }
    }

    @media print {
        .screen-only {
            display: none;
        }
        :global(a) {
            text-decoration: underline;
        }

        /* CSS rules for avoiding page break immediately after a heading */
        /* Source: https://stackoverflow.com/a/53742871/1121933 */
        :global(h2) {
            page-break-inside: avoid;
        }
        :global(h2)::after {
            content: "";
            display: block;
            height: 100px;
            margin-bottom: -100px;
        }
    }
</style>

<section>
    <h2>{t('resume.summary')}</h2>

    <Content />
</section>
