---
const { title, img, desc, badge, tags } = Astro.props;
import { Image } from "astro:assets";
---

<div
  class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out"
>
    <div class="hero-content flex-col md:flex-row cursor-default">
      {
        img && (
          <Image
            src={img}
            width={750}
            height={422}
            format="webp"
            alt={title}
            class="max-w-full md:max-w-[13rem] rounded-lg"
          />
        )
      }
      <div class="grow w-full">
        <h1 class="text-xl font-bold">
          {title}
          {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
        </h1>
        <p class="py-1 text-1xl">{desc}</p>
      </div>
    </div>
</div>
