---
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslatedTagPath, useTagTranslations } from '../lib/i18n/utils';

const { title, img, desc, url, badge, tags, target = "_blank" } = Astro.props;

const lang = await getLangFromUrl(Astro.url);
const translateTag = await useTagTranslations(lang);
const path = useTranslatedTagPath(lang);
---

<div
  class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]"
>
  <a href={url} target={target}>
    <div class="hero-content flex-col md:flex-row">
      {
        img && (
          <Image
            src={img}
            width={750}
            height={422}
            format="webp"
            alt={title}
            class="max-w-full md:max-w-[13rem] rounded-lg"
          />
        )
      }
      <div class="grow w-full">
        <h1 class="text-xl font-bold">
          {title}
          {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
        </h1>
        <p class="py-1 text-1xl">{desc}</p>
        <div class="card-actions justify-end">
          {
            tags &&
              tags.map((tag) => (
                <a href={path(tag)} class="badge badge-outline">
                    {translateTag(tag)}
                </a>
              ))
          }
        </div>
      </div>
    </div>
  </a>
</div>
