---
import { useTranslations, getLangFromUrl, useTranslatedPath } from '../lib/i18n/utils';

const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class

const lang = await getLangFromUrl(Astro.url);
const t = await useTranslations(lang);
const path = useTranslatedPath(lang);
---

<ul class="menu grow shrink menu-md overflow-y-auto" id="sidebar-container">
    <li><a class="py-3 text-base" id="home" href={path('/')}>{t('nav.home')}</a></li>
    <li><a class="py-3 text-base" id="about" href={path('/about')}>{t('nav.about')}</a></li>
    <li><a class="py-3 text-base" id="projects" href={path('/projects')}>{t('nav.projects')}</a></li>
    <li><a class="py-3 text-base" id="blog" href={path('/blog')}>{t('nav.blog')}</a></li>
    <li><a class="py-3 text-base" id="cv" href={path('/resume')}>{t('nav.cv')}</a></li>
    <li>
        <a
            class="py-3 text-base"
            href="mailto:jairlopez@gonalizo.com"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade">{t('nav.contact')}</a
        >
    </li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
    function updateSidebar() {
        const container = document.getElementById('sidebar-container');
        const links = container.querySelectorAll('a[id]');

        for(const link of links) {
            if (link.id === sideBarActiveItemID) {
                link.classList.add(activeClass);
            } else {
                link.classList.remove(activeClass);
            }
        }
    }

    document.addEventListener('astro:page-load', updateSidebar);

    updateSidebar();
</script>

