---
import SideBarFooter from "./SideBarFooter.astro";
import { Image } from "astro:assets";
import SideBarMenu from "./SideBarMenu.astro";
import { useTranslations, getLangFromUrl, useTranslatedPath } from '../lib/i18n/utils';
const { sideBarActiveItemID } = Astro.props;

const lang = await getLangFromUrl(Astro.url);
const t = await useTranslations(lang);
const path = useTranslatedPath(lang);
---
<div class="drawer-side z-40">
  <label for="my-drawer" class="drawer-overlay"></label>
  <aside class="px-2 pt-2 h-auto min-h-full w-[19rem] bg-base-200 text-base-content flex flex-col">
    <div class="w-fit mx-auto mt-5 mb-6">
      <a href={path('/')}>
        <div class="avatar transition ease-in-out hover:scale-[102%] block m-auto">
          <div class="w-[8.5rem]">
                <Image class="mask mask-circle" format="webp" width={300} height={300} src="/profile.webp" alt="Profile image" />
          </div>
        </div>
      </a>
    </div>
    <div class="w-fit mx-auto mb-5">
        <a id="toggle-en-language" role="button" class:list={['btn btn-xs mr-5', { 'btn-active': lang === 'en' }]} href={lang !== 'en' ? path('/', 'en') : undefined}>🇺🇸 English</a>
        <a id="toggle-es-language" role="button" class:list={['btn btn-xs', { 'btn-active': lang === 'es' }]} href={lang !== 'es' ? path('/', 'es') : undefined}>🇪🇸 Español</a>
    </div>
    <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />
    <SideBarFooter />
  </aside>
</div>
