---
import BaseLayout from "./BaseLayout.astro";
import { getLangFromUrl, useTranslatedPath } from '../lib/i18n/utils';

const lang = await getLangFromUrl(Astro.url);
const path = useTranslatedPath(lang);

const { title, description, heroImage, badge } = Astro.props;

import { Image } from "astro:assets";
---
<BaseLayout title={title} description={description} image={heroImage} ogType="article" sideBarActiveItemID="about">
  <main class="md:flex md:justify-center">
    <article class="prose max-w-[750px] prose-img:mx-auto">
      {heroImage && <Image width={750} height={422} format="png" src={heroImage} alt={title} class="w-full mb-6" />}
      <h1 class="title my-2 text-4xl font-bold">{title}</h1>
      <slot />
    </article>
  </main>
</BaseLayout>
