---
import { CollectionEntry, render } from "astro:content";
import { BlogSchema } from "../content/config";
import AboutLayout from "../layouts/AboutLayout.astro";
import LanguageSettings from "./LanguageSettings.astro";
import { useTranslations, getLangFromUrl, useTranslatedPath } from '../lib/i18n/utils';

const lang = await getLangFromUrl(Astro.url);
const t = await useTranslations(lang);

const { entry } = Astro.props;
const aboutContent = entry.data;
const { Content } = await render(entry);
---

<AboutLayout title={aboutContent.title} heroImage={aboutContent.heroImage} >
  <Content />
  <LanguageSettings lang={lang} links={entry.data.translations}/>
</AboutLayout>
