---
import { getLangFromUrl, useTranslations } from '../lib/i18n/utils.js';
import { ClientRouter } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";

import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API } from "../config";

const lang = await getLangFromUrl(Astro.url);
const t = await useTranslations(lang);

const {
  image,
  includeSidebar = true,
  sideBarActiveItemID,
  ogType,
} = Astro.props;
---

<!doctype html>
<html lang={lang} data-theme="winter">
  <head>
    <BaseHead title={t('main.site-title')} description={t('main.site-description')} image={image} ogType={ogType} />
    {TRANSITION_API && <ClientRouter />}
  </head>
  <body>
    {/* This code comes from SideBar component but it is convenient to put it here. */}
    <script>
        import { languageStore } from '../lib/languageStore.js';

        function updateLanguageLink(language, settings) {
            let languageLink = document.getElementById(`toggle-${language}-language`);

            if (settings.lang === language) {
                languageLink.removeAttribute('href');
                languageLink.classList.add('btn-active');
            } else {
                languageLink.setAttribute('href', settings.links[language]);
                languageLink.classList.remove('btn-active');
            }
        }

        languageStore.listen(languageSettings => {
            Object.keys(languageSettings.links).map((lang) => updateLanguageLink(lang, languageSettings));
        });
    </script>
    <div class="bg-base-100 drawer lg:drawer-open">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content bg-base-100">
        <Header />
        <div class="md:flex md:justify-center">
          <main class="p-6 pt-10 lg:max-w-[900px] max-w-[100vw]">
            <slot />
          </main>
        </div>
        <Footer />
      </div>
      {includeSidebar && <SideBar sideBarActiveItemID={sideBarActiveItemID} />}
    </div>
  </body>
</html>

