---
import { CollectionEntry, render } from "astro:content";
import { BlogSchema } from "../content/config";
import PostLayout from "../layouts/PostLayout.astro";
import LanguageSettings from "./LanguageSettings.astro";
import { getLangFromUrl, useTranslatedPath } from '../lib/i18n/utils';

interface Props {
  entry: CollectionEntry<"blog">;
}

const lang = await getLangFromUrl(Astro.url);
const path = useTranslatedPath(lang);

const { entry } = Astro.props;
const post: BlogSchema = entry.data;
const { Content } = await render(entry);
---

<PostLayout
  title={post.title}
  description={post.description}
  pubDate={post.pubDate}
  heroImage={post.heroImage}
  updatedDate={post.updatedDate}
  badge={post.badge}
  tags={post.tags}
>
  <Content />
  <LanguageSettings lang={lang} links={entry.data.translations}/>
</PostLayout>
