---
import BaseLayout from "./BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import HorizontalStaticCard from "../components/HorizontalStaticCard.astro";
import { getFilteredCollection } from '../lib/filteredCollection';

import { useTranslations, getLangFromUrl, useTranslatedPath, useTranslatedBlogPath } from '../lib/i18n/utils';

const lang = await getLangFromUrl(Astro.url);
const path = useTranslatedPath(lang);
const blogPath = useTranslatedBlogPath(lang);
const langRegExp = new RegExp('^' + lang + '/');
const t = await useTranslations(lang);

const last_posts = (await getFilteredCollection('blog', lang, true)).slice(0, 3);

// Use UTF-8 encoding in development server.
if (import.meta.env.DEV) {
    Astro.response.headers.set('Content-Type', 'text/html; charset=utf-8');
}

// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log('This runs in your terminal, not the browser!');
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">{t('index.my-name')}</div>
    <div class="text-3xl py-3 font-bold">{t('index.my-profession')}</div>
    <div class="py-2">
      <text class="text-lg">
        {t('index.my-profession-description-1')}
      </text>
    </div>
    <div class="py-2">
      <text class="text-lg">
        {t('index.my-profession-description-2')}
      </text>
    </div>
    <div class="mt-8">
        <a class="btn" href="mailto:jairlopez@gonalizo.com" target="_blank">
            {t('index.call-to-action-1')}
        </a>

        <a href={path('/projects')} class="btn btn-outline ml-5">
            {t('index.call-to-action-2')}
        </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">{t('index.services') + " </>"}</div>
  </div>

  <HorizontalStaticCard
    title={t('index.service-1.title')}
    img="/img/services/front-end-developer.webp"
    desc={t('index.service-1.description')}
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalStaticCard
    title={t('index.service-2.title')}
    img="/img/services/back-end-developer.webp"
    desc={t('index.service-2.description')}
  />
  <div class="divider my-0"></div>
  <HorizontalStaticCard
    title={t('index.service-3.title')}
    img="/img/services/dba.webp"
    desc={t('index.service-3.description')}
  />
  <div class="divider my-0"></div>
  <HorizontalStaticCard
    title={t('index.service-4.title')}
    img="/img/services/server-admin.webp"
    desc={t('index.service-4.description')}
  />
  <div class="divider my-0"></div>
  <HorizontalStaticCard
    title={t('index.service-5.title')}
    img="/img/services/question2answer-orange.webp"
    desc={t('index.service-5.description')}
    badge="FOSS"
  />

  { last_posts.length > 0 && (
    <div>
        <div class="text-3xl w-full font-bold mb-5 mt-10">{t('index.latest-blogpost-heading')}</div>
    </div>
    <>{
        last_posts.map((post) => (
            <>
                <HorizontalCard
                    title={post.data.title}
                    img={post.data.heroImage}
                    desc={post.data.description}
                    url={blogPath({title: post.data.title, slug: post.slug})}
                    target="_self"
                    badge={post.data.badge}
                />
                <div class="divider my-0" />
            </>
        ))
    }</>
  )}
</BaseLayout>
