---
const { lang, links } = Astro.props;
---
<style>
    div {
        display: none;
    }
</style>

<div class="hidden-language-settings">
    <input type="hidden" class="hls_lang" value={lang}>
    {Object.keys(links).map((lang) => (
        <input type="hidden" class={`hls_item ${lang}`} value={links[lang]}>
    ))
    }
</div>

<script>
    import { languageStore } from '../lib/languageStore.js';

    function updateLanguageLinks() {
        const langSettingsContainers = Array.from(document.querySelectorAll('.hidden-language-settings'));

        if (langSettingsContainers.length) {
            const [ lastContainer ]  = langSettingsContainers.slice(-1);


            const result = {
                lang: lastContainer.querySelector('.hls_lang').value,
                links: {}
            };


            lastContainer.querySelectorAll('.hls_item').forEach((item) => {
                item.classList.remove('hls_item');
                result.links[item.className] = item.value;
            });


            langSettingsContainers.forEach((item) => {
                const parent = item.parentElement;

                parent.removeChild(item);
            });

            languageStore.set(result);
        }
    };

    document.addEventListener('astro:page-load', updateLanguageLinks);
    updateLanguageLinks();
</script>

