---
import '../../styles/code-highlighting.css';
import BaseLayout from "./BaseLayout.astro";
import { getLangFromUrl, useTranslatedTagPath, useTagTranslations } from '../lib/i18n/utils';

const lang = await getLangFromUrl(Astro.url);
const translateTag = await useTagTranslations(lang);
const path = useTranslatedTagPath(lang);

const { title, description, pubDate, updatedDate, heroImage, badge, tags = [] } = Astro.props;
const publicationDate = new Date(pubDate + "T00:00:00");

const displayDate = publicationDate.toLocaleDateString(lang === 'es' ? 'es-VE' : 'en-US', {
    year: "numeric",
    month: "short",
    day: "numeric",
})

import { Image } from "astro:assets";
---

<BaseLayout title={title} description={description} image={heroImage}, ogType="article" sideBarActiveItemID="blog">
  <main class="md:flex md:justify-center">
    <article class="prose max-w-[750px] prose-img:mx-auto">
      {heroImage && <Image width={750} height={422} format="webp" src={heroImage} alt={title} class="w-full mb-6" />}
      <h1 class="title my-2 text-4xl font-bold">{title}</h1>
      {pubDate && <time>{displayDate}</time>}
      <br />
      {badge && <div class="badge badge-secondary my-1">{badge}</div>}
      {
        tags &&
            tags.map((tag, index) => (
            <a href={path(tag)} class:list={["badge badge-outline", { "ml-2": index !== 0 }, "no-underline"]}>
                {translateTag(tag)}
            </a>
          ))
      }
      {
        updatedDate && (
          <div>
            {" "}
            Last updated on <time>{updatedDate}</time>{" "}
          </div>
        )
      }
      <div class="divider my-2"></div>
      <slot />
    </article>
  </main>
</BaseLayout>
