---
import BaseLayout from "./BaseLayout.astro";
import LanguageSettings from "./LanguageSettings.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getLangFromUrl, useTranslatedProjectsPath, useTranslations } from '../lib/i18n/utils';

const lang = await getLangFromUrl(Astro.url);
const projectPath = useTranslatedProjectsPath(lang);
const t = await useTranslations(lang);

const { projects } = Astro.props;
---
<BaseLayout title={t('nav.projects')} sideBarActiveItemID="projects">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{t('nav.projects')}</div>
  </div>

  {
    projects.length === 0 ? (
      <div class="bg-base-200 border-l-4 border-secondary w-full p-4 min-w-full">
        <p class="font-bold">{t('main.no-content-msg-title')}</p>
        <p>{t('main.no-project-content-msg-description')}</p>
      </div>
    ) : (
      <ul>
        {projects.map((project) => (
          <>
            <HorizontalCard
              title={project.data.title}
              img={project.data.heroImage}
              desc={project.data.description}
              url={projectPath({title: project.data.title, slug: project.slug})}
              target="_self"
              badge={project.data.badge}
              tags={project.data.tags}
            />
            <div class="divider my-0" />
          </>
        ))}
      </ul>
    )
  }
  <LanguageSettings lang={lang} links={{es: projectPath(null, 'es'), en: projectPath(null, 'en')}}/>
</BaseLayout>
