---
import '../../styles/code-highlighting.css';
import BaseLayout from "./BaseLayout.astro";
import { getLangFromUrl, useTranslatedPath } from '../lib/i18n/utils';

const lang = await getLangFromUrl(Astro.url);
const path = useTranslatedPath(lang);

const { title, description, pubDate, updatedDate, heroImage, badge } = Astro.props;
const publicationDate = new Date(pubDate + "T00:00:00");

const displayDate = publicationDate.toLocaleDateString(lang === 'es' ? 'es-VE' : 'en-US', {
    year: "numeric",
    month: "short",
    day: "numeric",
})

import { Image } from "astro:assets";
---
<BaseLayout title={title} description={description} image={heroImage} ogType="article" sideBarActiveItemID="projects">
  <main class="md:flex md:justify-center">
    <article class="prose max-w-[750px] prose-img:mx-auto">
      {heroImage && <Image width={750} height={422} format="png" src={heroImage} alt={title} class="w-full mb-6" />}
      <h1 class="title my-2 text-4xl font-bold">{title}</h1>
      {pubDate && <time>{displayDate}</time>}
      <br />
      {badge && <div class="badge badge-secondary my-1">{badge}</div>}
      {
        updatedDate && (
          <div>
            {" "}
            Last updated on <time>{updatedDate}</time>{" "}
          </div>
        )
      }
      <div class="divider my-2"></div>
      <slot />
    </article>
  </main>
</BaseLayout>
