---
import { render } from "astro:content";
import ProjectLayout from './ProjectLayout.astro'
import LanguageSettings from "./LanguageSettings.astro";
import { getLangFromUrl, useTranslatedPath } from '../lib/i18n/utils';

const lang = await getLangFromUrl(Astro.url);

const { entry } = Astro.props;
const post = entry.data;
const { Content } = await render(entry);
---
<ProjectLayout
  title={post.title}
  description={post.description}
  pubDate={post.pubDate}
  heroImage={post.heroImage}
  updatedDate={post.updatedDate}
  badge={post.badge}
>
  <Content />
  <LanguageSettings lang={lang} links={entry.data.translations}/>
</ProjectLayout>
