figure[data-rehype-pretty-code-figure] {
  @apply space-y-0;
}


figure[data-rehype-pretty-code-figure] figcaption {
  @apply w-full bg-slate-800 text-slate-400 border-b-[0.5px] border-blue-400 rounded-t-lg mt-10 text-base items-center justify-between py-2 px-4
}
figure[data-rehype-pretty-code-figure] pre {
  @apply p-0 py-2 rounded-t-none rounded-lg overflow-x-auto bg-slate-950;
}

figure[data-rehype-pretty-code-figure] code {
  counter-reset: line;
}

span[data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply px-3 border-l-4 border-transparent text-slate-400;
}

span[data-line] {
  @apply flex;
}

span[data-highlighted-line]::before {
  @apply border-blue-400;
}

span[data-highlighted-line] {
  @apply bg-blue-400/20;
}
